<!-- <p id="notice"><%= notice %></p> -->

  
<div id="fundo-externo">
    <div id="fundo">
    <center><nav id="menu" >
    <ul>
        <li><a href="http://localhost:3000">Home</a></li>
        <li><a href="#">Sobre</a></li>
        <li><a href="#">Missão</a></li>
        <li><a href="#">Contato</a></li>
    </ul>
</nav></center>
        <img src="http://www.fixabay.com/reimg/resize-img.php?src=http://www.fixabay.com/images/Abstract/zlysuntlwa3.jpg&h=768&w=1024" alt="" />

    </div>

</div>




<div id="site2">

    <div id="form">
    <div id="cad-conf">
    <h1>Informação cadastrada</h1><br><br>
      <p>
  <strong>Nome:</strong>
  <%= @product.nome %>
</p>

<p>
  <strong>Quantidade:</strong>
  <%= @product.quantidade %>
</p>

<%= link_to 'Editar', edit_product_path(@product) %> |
<%= link_to 'Voltar', products_path %>
      </div>
  </div>
</div>
