
<div id="fundo-externo">
  <head>
    <nav id="menu" >
        <ul>
            <li><a href="http://localhost:3000">Home</a></li>
            <li><a href="#">Sobre</a></li>
            <li><a href="#">Missão</a></li>
            <li><a href="#">Contato</a></li>
        </ul>
    </nav>
  </head>
    <div id="fundo">
    <!--     <img src="http://2.bp.blogspot.com/-FAERiA-TNx0/TlGzYIOcYSI/AAAAAAAAA-s/cMlO0cqW3SA/s1600/smile_wallpaper.png" alt="" /> -->
    </div>
</div>
<div id="site">
<div id="formulario">
 <div id="form">

<p id="notice"><%= notice %></p>

<center><h1><font color="black">.:Cadastrar Cliente:.</font><br><br></h1><center>


<table>
  <thead>
        Nome &nbsp &nbsp &nbspTelefone &nbsp &nbsp &nbsp Endereço &nbsp &nbsp &nbsp Produto &nbsp &nbsp &nbsp Quantidade &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp   <br><br>
     
  </thead>

  <tbody>
   <% @clients.each do |client| %>
      <tr>
        <td><%= client.nome %>&nbsp &nbsp &nbsp &nbsp</td>
        <td><%= client.telefone %>&nbsp &nbsp &nbsp &nbsp &nbsp &nbsp</td>
        <td><%= client.endereco %>&nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp</td>
        <td>< Produto>&nbsp &nbsp &nbsp &nbsp &nbsp &nbsp</td>
        <td>< Quantidade>&nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp</td>
        <td><%= link_to 'Visualizar', client %>&nbsp &nbsp</td>
        <td><%= link_to 'Editar', edit_client_path(client) %><a>&nbsp &nbsp</a></td>
        <td><%= link_to 'Excluir', client, method: :delete, data: { confirm: 'Deseja Excluir?' } %><a>&nbsp &nbsp</a></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>







<%= link_to 'Novo Cliente', new_client_path %><a> &nbsp &nbsp</a>
<%= link_to 'Voltar', gerenciador_index_path %> 
