<!DOCTYPE html>

<html>
<head>
  <title></title>
 
</head>
<body>
<div id="fundo-externo">
 <nav id="menu" >
    <ul>
        <li><a href="http://localhost:3000">Home</a></li>
        <li><a href="#">Sobre</a></li>
        <li><a href="#">Missão</a></li>
        <li><a href="#">Contato</a></li>
    </ul>
</nav>
    <div id="fundo">
        <img src="https://static.pexels.com/photos/28221/pexels-photo-28221.jpg" alt="" />
    </div>
</div>
 <%= form_for :session, url: sign_in_path do |f| %>

   <div id="site">
<div id="formulario-formatacao">
 <div id="form">
    <div class="field">
      <a id="log">Login</a><br><br>
      <%= f.label :email %><br />
      <%= f.email_field :email, autofocus: true %><br><br>
    </div>
   
    <div class="field">
      <%= f.label :password %><br />
      <%= f.password_field :password, autocomplete: "off" %>
    </div>
    <div class="actions">
      <%= f.submit "Log in" %>
    </div>
  <p>Não cadastrado? <%= link_to "Cadastrar", new_user_path %></p>
  <% end %>
  </div>
  </div>
  </div>
</body>
</html>

