<%= form_with(model: location, local: true) do |form| %>
  <% if location.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(location.errors.count, "error") %> prohibited this location from being saved:</h2>

      <ul>
      <% location.errors.full_messages.each do |message| %>
         <li><%= message %></li> 
      <% end %>
      </ul>
    </div>
  <% end %>

<center><div class="field">
    <br><%= form.label :Cliente %><br>
    <%= form.select :client_id, options_from_collection_for_select(Client.all, :id, :nome)%> 

</div> 
<div class="field">
    <br><%= form.label :Produto %><br>
    <%= form.select :product_ids, options_from_collection_for_select(@products, :id, :nome, form.object.products.map(&:id)),{},{multiple: true}%> 
</div> 

  <div class="field">
  <br><%= form.label :quantidade %><br>
  <%= form.number_field :quantidade, id: :location_quantidade%>
  </div></center>
  </div>


  <div class="actions">
    <br>
   <center><a id="bt5"><button class="btn btn-lg btn-primary btn-block btn-signin" type="submit" style="width: 250px; height: 45px">Nova locação</button></a></center>
  </div></center>
<% end %>
